{% extends 'base.html.twig' %}

{% block body_id 'profile' %}

{% block main %}

        <section class="content-section-small text-center">
            <div class="col-lg-8 col-lg-offset-2">

                <h4>Hi, {{ user.fullName }}!</h4>
                <h6>We are pleased to see you around</h6>
            </div>
        </section>

    <section id="whatsnew" class="content-section text-center">
    {% if chapters|length != 0 %}
        <section class="content-section-small">
            <div class="col-lg-12">
                <h1 class="page-header">My Chapters</h1>
            </div>

            <div class="container-fluid">
                <div class="row">
                        {% for chapter in chapters %}
                            <div class="col-sm-2 col-md-2">
                                <ol class="thumbnail">
                                    <ol>
                                    <div class="content-section-small">
                                        <img src="{{ asset('uploads/covers/'~chapter.path) }}" class="img-fluid" alt="Responsive image">
                                    </div>
                                    <div class="thumbnail">
                                        <h3>{{ chapter.bookTitle }}</h3>
                                        <h5>{{ chapter.chapterTitle }}</h5>
                                        <p align="center"><a href="{{ path('chapter_view', {'id': chapter.id}) }}" class="btn btn-default btn-block">Read more</a></p>
                                    </div>
                                    </ol>
                                </ol>
                            </div>
                        {% endfor %}
                </div>

            </div>
        </section>
    {% endif %}
{% endblock %}