{% extends 'base.html.twig' %}

    {% block main %}
        <section class="content-section">

            <div class="container body-content">
                <div class="row">
                    <div class="col-md-12">
                        <article>
                            <header>
                                <div class="col-md-4">
                                  <div class="thumbnail">
                                      <img src="{{ asset('uploads/covers/'~chapter.path) }}"/>
                                  </div>
                                </div>
                            </header>

                            <p>
                                <h2>{{ chapter.bookTitle }}</h2>
                            </p>

                            <p>
                                {{ chapter.content|raw }}
                            </p>

                            <small class="author">
                               by {{ chapter.author }}
                            </small>

                            <footer>
                                <tr>
                                    {% if app.getUser() and (app.getUser().isAuthor(chapter) or app.getUser().isAdmin()) %}
                                    <th>
                                        <div class="pull-left">
                                            <a class="btn btn-default btn-xs" href="{{ path('chapter_edit', {id: chapter.id}) }}">Edit</a>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="pull-left">
                                            <button class="btn btn-default btn-xs" data-target="#deleteModal" data-toggle="modal">DELETE</button>

                                            <div class="modal fade" tabindex="-1" id="deleteModal" data-keyboard="true" data-backdrop="static">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-body">
                                                        <div class="form">
                                                            <ul class="tab-group">
                                                                <li>
                                                                    <button type="button" class="close btn btn-info" data-dismiss="modal">&times;</button>
                                                                </li>
                                                            </ul>
                                                            <div class="modal-body">
                                                                <p>Are you sure you would like to delete this chapter?</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <ul class="tab-group">
                                                                    <li>
                                                                        <a class="btn btn-default-submit btn-xs" href="{{ path('chapter_confirm_delete', {id: chapter.id}) }}">YES</a>
                                                                    </li>
                                                                    <li>
                                                                        <a class="btn btn-default btn-xs" data-dismiss="modal">NO</a>
                                                                    </li>
                                                                </ul>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </th>
                                    {% endif %}
                                    <th>
                                        <div class="pull-left">
                                            <a class="btn btn-primary-submit btn-xs" href="{{ app.request.headers.get('referer') }}">go back</a>
                                        </div>
                                    </th>
                                <tr>
                            </footer>
                        </article>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}