{% extends 'base.html.twig' %}

    {% block main %}
        <section class="content-section">

            <div class="container body-content">
                <div class="row">
                    <div class="col-md-12">
                        <article>
                            <header>
                                <h2>{{ chapter.bookTitle }}</h2>
                            </header>

                            <p>
                                {{ chapter.content|raw }}
                            </p>

                            <small class="author">
                               by {{ chapter.author }}
                            </small>

                            <footer>
                                <tr>
                                    <th>
                                        <div class="pull-left">
                                            <a class="btn btn-default btn-xs" href="{{ path('chapter_edit', {id: chapter.id}) }}">Edit</a>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="pull-left">
                                            <a class="btn btn-primary-submit btn-xs" href="{{ app.request.headers.get('referer') }}">back </a>
                                        </div>
                                    </th>
                                <tr>
                            </footer>
                        </article>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}