{% extends 'base.html.twig' %}

    {% block main %}

     <div class="download-section-wall">

        <section class="content-section">
            <div class="container body-content">
                <div class="row">
                    <div class="col-md-12">
                        <article>
                            <header>
                                <h2>{{ chapter.bookTitle }}</h2>
                                <h4>{{ chapter.chapterTitle }}</h4>
                            </header>
                            <p>
                                {{ chapter.content|raw }}
                            </p>

                            <small class="author">
                               by {{ chapter.author }}
                            </small>

                            <footer>

                                    {% if app.getUser() and (app.getUser().isAuthor(chapter) or app.getUser().isAdmin()) %}
                                    <div class="col-sm-1">
                                        <a class="btn btn-default btn-lg" href="{{ path('chapter_edit', {id: chapter.id}) }}">Edit</a>
                                    </div>
                                    <div class="col-sm-1">
                                            <button class="btn btn-default btn-lg" data-target="#deleteModal" data-toggle="modal">DELETE</button>

                                            <div class="modal fade" tabindex="-1" id="deleteModal" data-keyboard="true" data-backdrop="static">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-body">
                                                        <div class="form">
                                                            <ul class="tab-group">
                                                                <li>
                                                                    <button type="button" class="close btn btn-info" data-dismiss="modal">&times;</button>
                                                                </li>
                                                            </ul>
                                                            <div class="modal-body">
                                                                <p>Are you sure you would like to delete this chapter?</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <ul class="tab-group">
                                                                    <li>
                                                                        <a class="btn btn-default-submit btn-xs" href="{{ path('chapter_confirm_delete', {id: chapter.id}) }}">YES</a>
                                                                    </li>
                                                                    <li>
                                                                        <a class="btn btn-default btn-xs" data-dismiss="modal">NO</a>
                                                                    </li>
                                                                </ul>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    {% endif %}
                                    <div class="col-sm-1 col-md-offset-11">
                                         <a class="btn btn-primary-submit btn-lg" href="{{ app.request.headers.get('referer') }}">back</a>
                                    </div>
                            </footer>
                        </article>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}